.add-employee-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

form {
  max-width: 500px;
  margin: 1em auto;
  padding: 40px;
  border-radius: 24px;
  background-image: url("../assets/bgg.png");
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.4);
  background-size: contain;
  color: rgb(252, 252, 252);
}

.input-box,
input[type="email"],
input[type="date"],
select
 {
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 20px;
  border: none;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  border: none;
}

button:focus {
  outline: none;
}
.header {
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.header p {
  color: rgb(0, 0, 0);
  margin-top: 0;
}
.sections {
  margin-bottom: 10px;
}
.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 33%;
  transform: translateY(-50%);
  color: #000000;
  margin-bottom: 15px;
}

.input-wrapper input {
  padding-left: 30px;
}
form p:nth-of-type(1),
form p:nth-of-type(2) {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;

}
.input-wrapper input:valid ~ span {
  color: #fff;
  transform: translateX(-10px) translateY(-36px);
}
@media (max-width: 768px) {
  form {
    border-radius: 10px;
    height: 70vh;
    margin: 3em 0.5em;
    
  }
}
.get-started {
    height: 40px;
    padding: 0 20px;
    background-image: url("../assets/bgg.png");
    background-size: cover;
    color: var(--white);
    border: 1px solid white;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
  }